/*

    COLOR CODES:

    1.PRIMARY :- #ffffff

    2.SECONDARY :- #ed502e

    3.TERNARY :- #0b2341    

    .col- (extra small devices - screen width less than 576px)
    .col-sm- (small devices - screen width equal to or greater than 576px)
    .col-md- (medium devices - screen width equal to or greater than 768px)
    .col-lg- (large devices - screen width equal to or greater than 992px)
    .col-xl- (xlarge devices - screen width equal to or greater than 1200px)
    .col-xxl- (xxlarge devices - screen width equal to or greater than 1400px)

*/
html
{
    padding: 0px;
    margin: 0%;
}
body
{
    font-family: sans-serif;
    position: relative;
}

.navbar-brand
{
    color: #0b2341;
    font-size: 26px !important;
    font-weight: 700;
    margin-left: 5%;
}

.navbar
{
    height: 90px;
}

.navbar-nav li a
{
    font-weight: 495 !important;
    color: #0b2341 !important;
}

.navbar-nav li a:hover
{
    transition: 0.5s;
    color: #ed502e !important;
}
.carousel-inner
{
    position: absolute;
    z-index: 1;
}

.words
{
    top: 30%;
    transform: translateX(30%);
    position: absolute;
    width: 600px;
    height: 300px;
}
.heading1
{
    font-size: 42px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 20px;
    letter-spacing: 1;
    
}

.text1
{
    color: #ffffff;
    font-size: 18px;
    text-align: justify;
}

.readmore1
{
    color: #ffffff;
    background-color: #ed502e;
    border-radius: 5px;
    width: 140px;
    text-align: center;
    padding: 7px;
    height: 40px;
    font-weight: 500;
}

.readmore1:hover
{
    background-color: #f15936;
    transition: 0.5s;
}
.carousel-inner .img1
{
    background: linear-gradient(rgba(0 , 0 , 0 , 0.5) , rgba(0, 0, 0 ,0.5)) , url(Images/Slider/slide-1.jpg);
    background-position: center ;
    background-size: cover;
    margin-top: 85px;
    height: 500px;
    width: 100%;
    height: calc(89vh);
}

.carousel-inner .img2
{
    background: linear-gradient(rgba(0 , 0 , 0 , 0.5) , rgba(0, 0, 0 ,0.5)) , url(Images/Slider/slide-2.jpg);
    background-position: center ;
    background-size: cover;
    margin-top: 85px;
    height: 500px;
    height: calc(89vh);
}

.carousel-inner .img3
{
    background: linear-gradient(rgba(0 , 0 , 0 , 0.5) , rgba(0, 0, 0 ,0.5)) , url(Images/Slider/slide-3.jpg);
    background-position: center ;
    background-size: cover;
    margin-top: 85px;
    height: calc(89vh);
}

.carousel-control-prev-icon
{
    background-color: rgb(128, 128, 128);
    height: 50px !important;
    width: 50px !important;
    border-radius: 150px;
    padding: 20px !important;
    margin: 10px;
}

.carousel-control-next-icon
{
    background-color: rgb(128, 128, 128);
    height: 50px !important;
    width: 50px !important;
    border-radius: 150px;
    padding: 20px !important;
    margin: 10px;
}
.subheading
{
    margin-top: 50px !important;
    color: gray;
    font-weight: 400;

}

.subheading::after
{
    margin: 5px 10px;
    display: inline-block;
    content:"";
    height: 1px;
    width: 100px;
    background-color: #ed502e;
}

@media only screen and (max-width:768px)
{
    .words
    {
        width: 400px;
    }
}


.about h1
{
    color: #0b2341;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 40px;
}

.about ul
{
    list-style-type: none;
    margin-top: 20px;
}

.about span
{
    margin-left: -35px;
    font-size:18px;
    color: #ed502e;
}

.about p
{
    margin-bottom: 20px;

}

.readmore
{
    color: #ed502e;
    border: 3px solid #ed502e;
    border-radius: 5px;
    width: 140px;
    text-align: center;
    padding: 4px;
    height: 40px;
    font-weight: 500;
}

.readmore:hover
{
    background-color: #ed502e;
    color: #ffffff;
    transition: 0.5s;
    cursor: pointer;
}

.card1
{
    margin-top: 20px !important;
    height: 280px;
    padding: 30px;
}

.card1 i
{
    
    font-size: 30px;
    color: #ed502e;
}

.date
{
    font-size: 40px;
    color: #0b2341;
    font-weight: 700;
    margin-left: 10px;
}
.txt1
{
    margin-top: 10px;
    text-align: justify;
}

.link
{
    margin-top: -15px;
    color: #1b569f;
    font-weight: 700;

}

.link i
{
    color: #0b2341;
    font-size: 12px ;
    font-weight: 700 !important;
}

.nextabt
{
    background-color: #f6f9fd;
}

.nextabt1
{
    height: 700px;   
    position: relative;
}

.nextabt1 img
{
    width: 580px;
    height: 100%;
    background: linear-gradient(rgba(0 , 0, 0 , 0.4) , rgba(0 , 0, 0 , 0.4)), url(https://burst.shopifycdn.com/photos/coding-on-laptop_1200x.progressive.jpg);
}

.nextabt1 i
{
    position: absolute;
    font-size: 100px;
    top: 35%;
    transform: translateX(150%);
    color: #ed512ed2;
    text-align: center;
    height: 150px;
    width: 150px;
}

.nextabt1 i:hover
{
    transition: 0.5s;
    color: #e61414da;
    background-color: #ffffff81;
    border-radius: 1000px;
}

.nextabt1 img
{
    position: absolute;

}

.nextabt2
{
    padding-right: 30px !important;
    width: 50% !important;
    padding-left: 120px !important;
}

.nextabt2 .big1
{
    margin-top: 50px;
    color: #0b2341;
    font-size: 40px;
    
}

.nextabt2 .txt2
{
    color: gray;
}

.accordion-item
{
    margin-bottom: 20px;
}

.accordion-item span
{
    color: #ed502e;
    font-weight: 700;
    font-size: 18px;
    margin-right: 12px;
    text-decoration: none;
}

.accordion-item p
{
    margin-top: 10px;
}

.accordion-button:hover
{
    color: #ed502e;
}

